doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= (site.head.title || site.title)
    if (site.head.description)
      meta(name='description', content=site.head.description)
    if (site.head.keywords)
      meta(name='keywords', content=site.head.keywords)
    link(type='text/css', rel='stylesheet', href=links.assets.css.main())
    block styles
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
  body
    #fb-root
    #page
      .container
        #page-header.clearfix
          .row
            .col-xs-5.col-sm-4.col-md-2
              a#page-logo(href=links.home(), title=project.name) Open
                strong peaks
            .col-xs-5.col-sm-8.col-md-7
              ul#page-menu
                each item in pageMenu
                  li
                    a(class=item.cssClass, href=item.href)= item.text
            .hidden-xs.hidden-sm.col-md-3
        #page-content.clearfix
          block content
        #page-footer.clearfix
          a(href='https://github.com/entipic', target='_blank') Source Code on Github


    script(type='text/javascript', src=links.assets.js.main())
    block scripts
